
<div class="row">
    <div class="col-md-8">      
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
<table class="records-index">
  {{#each records}}
  <tr>
    <td>
      {{this.category}}
    </td>
    <td>
      {{this.name}}
    </td>
    <td>
      {{this.date}}
    </td>
    <td>
      {{this.amount}}
      <a href="/records/{{ this._id }}/edit">修改</a>
    </td>
    <td>
      <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit">刪除</button>
      </form>
    </td>
  
  </tr>
  {{/each}}
</table>
<a href="/records/new" class="btn btn-add mt-3 mb-5">新增消費</a>

  </div>